<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roger | Stock Analyzer</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='/public/favicon.ico') }}"
    />
  </head>
  <body>
    {% include 'components/header.html' %}
    <div class="container">
      <h1>Roger | Stock Analyzer</h1>
      <div class="input-container">
        <input
          type="text"
          id="ticker-input"
          placeholder="Enter Stock Symbol or Name"
          oninput="fetchSuggestions()"
        />
        <div id="suggestions"></div>
      </div>
      <button onclick="analyzeStock()">Analyze</button>
      <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='js/stock_analyzer.js') }}"></script>
  </body>
</html>
