<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Analyzer | Roger</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='/public/favicon.ico') }}"
    />
  </head>
  <body>
    {% include 'components/header.html' %} {% include
    'components/navigation_buttons.html' %} {% block content %}{% endblock %}

    <div class="container">
      <h2>Stock Analyzer</h2>
      <div class="input-container">
        <input
          type="text"
          id="ticker-input"
          placeholder="Enter Stock Symbol or Name"
          oninput="fetchSuggestions()"
        />
        <div id="suggestions"></div>
      </div>
      <div class="btn-container">
        <button class="btn-1" onclick="analyzeStock()">Analyze</button>
        <button class="btn-2" id="open-sharpe-ratio">
          What is Sharpe Ratio?
        </button>
      </div>
    </div>
    <div>
      <div id="spinner" class="spinner" style="display: none"></div>
      <div id="result"></div>
      <div id="sharpe-ratio-modal" class="modal">
        <div class="modal-content">
          <span id="close-sharpe-ratio" class="close">&times;</span>
          <h2>What is Sharpe Ratio?</h2>
          <p>
            The Sharpe Ratio is a risk-adjusted performance measure, which
            calculates the additional profitability obtained per unit of risk.
            It is defined as the difference between the performance of a
            investment and the risk-free rate, divided by the deviation
            profitability standard. A higher Sharpe Ratio indicates a better
            risk-adjusted performance.
          </p>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/stock_analyzer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modalAnalyzer.js') }}"></script>
  </body>
</html>
