<section id="donate" class="cta-section">
  <div class="text-section">
    <h2>You can help to make ROGER better</h2>
    <p>
      Mainly using ROGER, reporting bugs, details, collaborating in development
      or donating to the creator
    </p>
  </div>
  <a href="{{ url_for('analyzer') }}" class="cta-button">Start now</a>
  <div class="text-medias"><p>Our Social Medias:</p></div>

  <div class="social-links">
    <a
      href="https://github.com/nitdraig/roger"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="{{ url_for('static', filename='public/icons/github.svg') }}"
        alt="GitHub"
        class="social-icon"
      />
    </a>
    <a
      href="https://portfolio.agustin.top/contact"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="{{ url_for('static', filename='public/icons/message.svg') }}"
        alt="Portfolio"
        class="social-icon"
      />
    </a>
    <a
      href="https://twitter.com/nitdraig"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="{{ url_for('static', filename='public/icons/twitter.svg') }}"
        alt="Donate"
        class="social-icon"
      />
    </a>
    <a
      href="https://buymeacoffee.com/nitdraig"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="{{ url_for('static', filename='public/icons/donate.svg') }}"
        alt="Donate"
        class="social-icon"
      />
    </a>
  </div>
</section>
