.hero-section {
  background: #12141d;
  color: #fff;
  padding: 50px 20px;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 90%;
  padding-top: 1em;
  text-align: center;
}

.hero-content h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0;
}

.hero-content h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin: 10px 0;
}

.hero-content p {
  font-size: 18px;
  font-weight: lighter;
  margin: 15px 0;
}

.btn-container-hero {
  display: flex;
  gap: 1em;

  align-items: center;
}

.cta-button1 {
  background: #ccff8b;
  color: #000000;
  padding: 0.8em 1.8em;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.cta-button1:hover {
  background: #b9ff5f;
}

.cta-button2 {
  background: #ffffff;
  color: #000000;
  padding: 0.8em 1.8em;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.hero-image {
  max-width: 80%;
  margin-top: 20px;
  height: auto;
}

@media (min-width: 768px) {
  .hero-section {
    flex-direction: row;
    padding: 80px 50px;
  }

  .hero-content {
    max-width: 60%;
    text-align: left;
  }

  .hero-content h1 {
    font-size: 60px;
  }

  .hero-content h2 {
    font-size: 34px;
  }

  .hero-content p {
    font-size: 20px;
  }

  .btn-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .hero-image {
    max-width: 40%;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    padding: 100px 100px;
  }

  .hero-content h1 {
    font-size: 70px;
  }

  .hero-content h2 {
    font-size: 38px;
  }

  .hero-image {
    max-width: 40%;
  }
}

/*  Features Section */
.features-section {
  padding: 50px 20px;
  background-color: #fafafa;
  text-align: center;
}

.features-header {
  margin-bottom: 30px;
}

.features-header h2 {
  font-size: 36px;
  color: #333;
  font-weight: bold;
}

.features-header p {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

.features-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 350px;
  box-sizing: border-box;
}

.card-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 24px;
  color: #12141d;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 16px;
  color: #505050;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .features-cards {
    flex-direction: column;
    align-items: center;
  }

  .feature-card {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
}
/*  How It Works Section */
.how-it-works-section {
  padding: 50px 20px;
  background-color: #12141d;
  text-align: center;
}

.how-it-works-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 4em;
  margin-right: 4em;
}

.subtitle {
  flex: 1;
  text-align: left;
  font-size: 18px;
}

.subtitle h2 {
  font-size: 52px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle p {
  font-size: 18px;
  color: #ffffff;
  margin-top: 0;
}

.title {
  flex: 1;
  text-align: right;
}

.title h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 100;
}

.video-container {
  margin-top: 40px;
}

.video-container h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  max-width: 800px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  .how-it-works-header {
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media (max-width: 768px) {
  .how-it-works-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
  }

  .subtitle {
    text-align: center;
    margin-bottom: 20px;
  }

  .subtitle h2 {
    font-size: 36px;
  }

  .title {
    text-align: center;
    margin-top: 20px;
  }

  .title h3 {
    font-size: 16px;
  }

  .video-container h2 {
    font-size: 28px;
  }

  iframe {
    max-width: 90%;
    max-height: 90%;
  }
}

@media (max-width: 480px) {
  .subtitle h2 {
    font-size: 28px;
  }

  .title h3 {
    font-size: 14px;
  }

  .video-container h2 {
    font-size: 24px;
  }

  iframe {
    max-height: 90%;
    max-width: 100%;
  }
}
