<footer>
  <p>&copy; 2024 ROGER. | All rights reserved.</p>
  <a href="https://portfolio.agustin.top" aria-hidden="true" target="_blank">
    <p>Develop with ♥️ by Draig_dev</p>
  </a>
  <button id="open-disclaimer">Disclaimer</button>
</footer>

<!-- Modal -->
<div id="disclaimer-modal" class="modal">
  <div class="modal-content">
    <span id="close-modal" class="close">&times;</span>
    <h2>Disclaimer</h2>
    <h4>ROGER By Excelso | Agustin Avellaneda</h4>
    <p>
      The information provided by ROGER is for general informational purposes
      only. All information on the Site is provided in good faith, however we
      make no representation or warranty of any kind, express or implied,
      regarding the accuracy, adequacy, validity, reliability, availability or
      completeness of any information on the Site.
    </p>
  </div>
</div>
